.card {
  background-color: #fff;
  max-height: 550px;
  height: 100%;
  max-width: 350px;
  width: 100%;
  padding: 2.5em;
  position: relative;
}
/* dayanddate */
.DayAndMonthAndYearAndCDay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DayAndMonthAndYear {
  display: flex;
  gap: 0.4em;
  align-items: center;
  justify-content: center;
}
.DayAndMonth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}
.day {
  color: #666;
  font-size: 35px;
  font-weight: 600;
}
.month {
  color: #888;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
.year {
  line-height: 1;
  color: #999;
  font-weight: 500;

  font-size: 0.83rem;
}
.today {
  font-size: 0.8rem;
  color: #999;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* inputlistitem
 */
.inputlistitem {
  position: absolute;
  bottom: 5%;
  padding: 1.5em;
  border: none;
  outline: none;
  left: 50%;
  background-color: #f0efe9;
  width: 80%;
  transform: translate(-50%, -50%);

  border-radius: 65px;
}
.addButton {
  position: absolute;
  border: none;
  background-color: #50e3a4;
  padding: 20px;
  bottom: -13%;

  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.34s;
}
.addButton svg {
  width: 30px;
  height: 30px;
  color: #e0e0e0;
}
.addButton:hover {
  box-shadow: 0 5px 215px #50e3a4;
}
/* listitem */
.listitem {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.listitemContainer {
  overflow: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  gap: 1.8em;
}
.closeBtn {
  background: url(./../assets/checkbox-1326be9e.ico);
  background-origin: revert;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  outline: none;
  border: none;
  width: 23px;
  height: 23px;
}
.donebtn {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 3px solid #f0efe9;
  background-color: #fff;
}
