.addButton {
  position: absolute;
  border: none;
  background-color: #50e3a4;
  padding: 22px;
  bottom: -14%;

  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.34s;
}
.addButton svg {
  width: 30px;
  height: 30px;
  color: #c5c5c5;
}
.addButton:hover {
  box-shadow: 0 5px 215px #50e3a4;
}
/* inputlistitem
 */
.inputlistitem {
  position: absolute;
  bottom: 1%;
  padding: 1em 1.5em;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: inherit;
  left: 50%;
  background-color: #50e3a318;
  width: 80%;

  transform: translate(-50%, -50%);
  border-radius: 65px;
}
.inputlistitem:focus {
  border: 2px dotted #50e3a4;
}
.hideform {
  display: none;
  position: relative;
}
.errorMessage {
  color: #ff8383;
  position: absolute;
  font-size: 14px;
  bottom: 1%;
  left: 14%;
}
